<h1>Burger Bro's</h1>

<h2>Add a Burger</h2>

<form class="create-form">
  <div class="form-group">
    <label for="newBurger">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>
  <button type="submit">Add</button>
</form>

<h2>Making Some Delicious Burgers!</h2>

<ul>
  {{#each burgers}}
      {{#unless devoured}}
		  <li id="new-{{this.id}}">
		    <p>
		      {{this.burger_name}}
		      <button data-burgerid="{{this.id}}" class="delBurger">Eat!</button>
		    </p>
		  </li>
      {{/unless}}
  {{/each}}
</ul>

<h2>Those Were Delicious!</h2>

<ul>
  {{#each burgers}}
      {{#if devoured}}
		  <li>
		    <p id="eaten">
		      {{this.burger_name}}
		    </p>
		  </li>
      {{/if}}
  {{/each}}
</ul>