body {
	background: #fff url("../img/background.png") top left repeat;
	font-family: "century gothic", serif;
}

#bodyContent {
	background: #fff;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

#bobImg {
	width: 75%;
}